torch==2.2.0
https://github.com/facebookresearch/pytorch3d
torchvision
torchaudio
fvcore
iopath
scikit-image>=0.21.0
fastapi
uvicorn[standard]
python-multipart
trimesh
numpy<2.0
scipy
opencv-python-headless
pycocotools
